
@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    margin: auto;
    padding: 3.5rem 6rem;
}

h1{
    margin-bottom: 2rem;
}

h2{
    margin: 2rem ;
}
p{
    margin-bottom: 3rem;
}
a{
color: rgb(75 85 99);
}
a:hover{
    color: black;
}

.social{
    border: 2px solid red;
    color: rgb(17 24 39);
    
}

.foot{
    /* margin: auto; */
    padding: 1rem 2rem;
    justify-content: center;
    text-align: center;
}